#search-bar {
    margin-top: 2em;
    height: 40px;
    width: 500px;
    border: black 1px solid;
    border-radius: 25px;
    outline-width: 0;
    padding-left: 10px;
    font: 16px arial,sans-serif;
}